@import "./_layout";

$lineWid: 2;
$edge: 200;
$pitcher: $edge * .1875;
$pitcherDis: $edge * .675;
$lineColor: black;

.container-fluid { margin: 10px; }

rect, circle, path, line { stroke: black; stroke-width: 2px; fill: transparent; }

.diamond { fill: transparent; stroke: black; stroke-width: 2px; transform: rotate(45deg); transform-origin: 100% 100%; }

#test {
	width: 1000px;
	height: 1000px;
	
	#square {
		transform-origin: 100% 100%;
		stroke: $lineColor;
		stroke-width: $lineWid;
		transform: rotate(45deg);
		fill: transparent;
		width: #{$edge}px;
		height: #{$edge}px;
	}

	[id$="-line"] { 
		height: #{$lineWid}px;
		width: #{$edge * 5}px; 
		background: $lineColor;
		transform-origin: left; 
		left: #{$edge}px;
		top: #{$edge - $lineWid}px;
		&#left-line { transform: rotate(-135deg); }
		&#right-line { transform: rotate(-45deg); }
	}

	#arc {
		border-radius: 50%;
		width: #{$edge * 2}px;
		height: #{$edge * 2}px;
		border: #{$lineWid}px solid $lineColor;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		top: #{-$pitcherDis}px;
	}

	#pitcher {
		border-radius: 50%;
		width: #{$pitcher}px;
		height: #{$pitcher}px;
		border: #{$lineWid}px solid $lineColor;
		left: #{$edge - $pitcher * .5}px;
		top: #{$edge - $pitcherDis - $pitcher * .5}px;
	}

}
