@import "./_layout";

$lineWid: 2;
$edge: 200;
$pitcher: $edge * .1875;
$pitcherDis: $edge * .675;
$lineColor: black;

.container-fluid { margin: 10px; }

#field {
	#left-line, #right-line { stroke: white; }
	
	rect, circle, path, line { stroke: transparent; stroke-width: 2px; }

	.diamond { transform: rotate(45deg); transform-origin: 100% 100%; }
	
	#base { 
	  .base {
		transform-origin: left top; 
		fill: white; stroke: white;
		&:hover { fill: black; stroke: black; }
	  }
	  
	  rect.base {
		&:first-of-type { transform: rotate(45deg); }
		&:nth-of-type(2) { transform: rotate(-45deg); }
		&:nth-of-type(3) { transform: rotate(135deg); }
	  }
	  
	  line { stroke: white; stroke-width: .5px; }
	}
	
	i { 
		position: static; 
		cursor: pointer;
		&:hover { 
			font-size: 2em;
			color: black;
		}
	}
	#fielder i { color: #87ceff; }
	#runner i { color: blue; }
}

@media (max-width:767px) {
}
