<svg (window:resize)="init()"
     (mousemove)="drag($event)"
     (touchmove)="drag($event)"
     (mouseup)="endDrag($event)"
     (touchend)="endDrag($event)"
     (touchleave)="endDrag($event)"
     (touchcancel)="endDrag($event)"
     (mouseleave)="endDrag($event)">
  <glove *ngIf="showGloves"></glove>
  <svg:defs *ngIf="showRunners">
    <svg:rect id="runner" [attr.width]="baseWidth*4" [attr.height]="baseWidth*4" />
  </svg:defs>
  <svg:rect *ngIf="centerY + sDiamondAway * 2 - edge * 3 > 0" id="outField" [attr.x]="0" [attr.y]="0"
      [attr.width]="graphWidth" [attr.height]="centerY + sDiamondAway * 2 - edge * 3" />
  <svg:path id="allField"
  	  [attr.d]="'M'+centerX+', '+(centerY + sDiamondAway * 2)
  		 +'L'+(centerX-edge*3)+', '+(centerY + sDiamondAway * 2 -edge*3)
  		 +'L'+(centerX+edge*3)+', '+(centerY + sDiamondAway * 2 -edge*3)+' Z'" />
  <svg:path id="redDiamond"
  	  [attr.d]="describeArc(centerX,centerY-pitcherDis,edge,-76,76)
  		 +'L'+(centerX - lDiamondAway)+', '+(centerY + sDiamondMove - lDiamondAway)
  		 +' '+describeArc(centerX,centerY,baseR,60,300,true)+' Z'" />
  <svg:line id="left-line" [attr.x1]="centerX" [attr.y1]="centerY" [attr.x2]="centerX-edge*3" [attr.y2]="centerY-edge*3"/>
  <svg:line id="right-line" [attr.x1]="centerX" [attr.y1]="centerY" [attr.x2]="centerX+edge*3" [attr.y2]="centerY-edge*3"/>
  <svg:path id="infield"
  	  [attr.d]="'M'+(bases[0].x - sDiamondAway)+', '+(bases[0].y - sDiamondMove - sDiamondAway)
  		 +'L'+(bases[3].x + sDiamondMove + sDiamondAway)+', '+(bases[3].y + sDiamondAway)
  		 +' '+describeArc(bases[3].x,bases[3].y,baseR,60,120,true)
  		 +'L'+(bases[2].x - sDiamondAway)+', '+(bases[2].y + sDiamondMove + sDiamondAway)
  		 +' '+describeArc(bases[2].x,bases[2].y,baseR,150,-150,true)
  		 +'L'+(bases[1].x - sDiamondMove - sDiamondAway)+', '+(bases[1].y - sDiamondAway)
  		 +' '+describeArc(bases[1].x,bases[1].y,baseR,-120,-60,true)
  		 +'L'+(bases[0].x + sDiamondAway)+', '+(bases[0].y - sDiamondMove - sDiamondAway)
  		 +' '+describeArc(bases[0].x,bases[0].y,baseR,-30,30,true)+' Z'" />
  <svg:circle id="pitcher" [attr.r]="pitcherR" [attr.cx]="bases[0].x" [attr.cy]="bases[0].y-pitcherDis" />
  <svg:g id="base">
  	<svg:line [attr.x1]="bases[3].x" [attr.y1]="bases[3].y" [attr.x2]="bases[2].x" [attr.y2]="bases[2].y" />
  	<svg:line [attr.x1]="bases[2].x" [attr.y1]="bases[2].y" [attr.x2]="bases[1].x" [attr.y2]="bases[1].y" />
    <svg:g *ngFor="let base of [1,2,3]">
      <svg:rect class="base" [attr.x]="bases[base].x" [attr.y]="bases[base].y" [attr.width]="baseWidth" [attr.height]="baseWidth" [attr.transform]="'rotate('+bases[base].rotate+','+bases[base].x+','+bases[base].y+')'"/>
    </svg:g>
  	<svg:path id="homeBase" class="base" 
  		  [attr.d]="'M'+bases[0].x+', '+bases[0].y
  			 +'l-'+baseWidth*.5+', -'+baseWidth*.5
  			 +'l0, -'+baseWidth*.5
  			 +'l'+baseWidth+', 0'
  			 +'l0, '+baseWidth*.5+' Z'" />
  </svg:g>
  <svg:g class="fielder" *ngFor="let fielder of fielders; index as i; first as isFirst"
              (mousedown)="startDrag($event)" (touchstart)="startDrag($event)" id="fielder-{{i}}">
    <svg:use *ngIf="!isFirst" xlink:href="#glove" [attr.x]="fielder.x" [attr.y]="fielder.y" />
    <text *ngIf="!isFirst" [attr.x]="fielder.x + 5" [attr.y]="fielder.y + 20" fill="white">{{i}}</text>
  </svg:g>
  <svg:g class="runner" *ngFor="let runner of runners; index as base">
    <svg:use xlink:href="#runner" *ngIf="runner.isOnBase" id="runner-base-{{base}}" [attr.x]="runner.x" [attr.y]="runner.y" [attr.fill]="runner.isScoring ? 'orange' : 'blue'" />
  </svg:g>
</svg>
