$redMud: #E41010; 
$grass: #50A160;

svg {
  height: 500px;
  width: 500px;
}

#allField, #infield {
  fill: $grass;
}

#pitcher, #redDiamond {
  fill: $redMud;
}

#runner {
  fill: blue;
}

#fielder use {
  cursor: move;
}
