$redMud: #E41010; 
$grass: #50A160;

svg {
  width: 100%;
  height: 100%;
}

#allField, #outField {
  stroke: $grass;
}

#allField, #infield, #outField {
  fill: $grass;
}

#pitcher, #redDiamond {
  fill: $redMud;
}

#runner {
  fill: blue;
}

#fielder use {
  cursor: move;
}
