<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="even-part history-container" [ngClass]="{'open': historyOpen}">
    <div class="sm-only">
      <h3 class="sm-title">History</h3>
      <button class="close-btn" (click)="toggleHistory()"></button>
    </div>
    <div *ngFor="let action of getAdvancedActions().slice().reverse()" id="{{action.id}}" class="history"> 
      <div *ngIf="action.batter.result">{{action.batter.result}}</div>
      <div *ngIf="action.batter.kind"><svg height="20">
        <path *ngIf="action.batter.kind" stroke="black" fill="none" [attr.d]="getHitKindIconPath(action.batter.kind)" />
        <text *ngFor="let fielder of action.fielders.position; index as i"
              [attr.x]="i * 20 + (i ? 3 : 6)" y="16" style="font-size:14px" fill="black">{{i ? '-' : ''}} {{fielder}}</text>
      </svg></div>
      <div>
        <span *ngFor="let pitch of action.pitches" [innerHtml]="getPitchIconHtml(pitch)"></span>
      </div>
    </div>
  </div>

  <div class="even-part field-button-container">
    <div class="field-container">
      <field [locations]="fieldActionService.runners.location"
             [showGloves]="showGloves"
             [showBatter]="showBatter"
             [showRunners]="showRunners"></field>
    </div>
  
    <div class="button-container" (transitionend)="btnTransitionEnd($event)">
      <div class="scoreboard">
        <div>
          <span class="text">BALL</span> 
          <span class="circle {{class}}" *ngFor="let class of getPitch('Ball')"></span>
        </div>
        <div>
          <span class="text">STRIKE</span>
          <span class="circle {{class}}" *ngFor="let class of getPitch('Strike')"></span>
        </div>
        <!-- <div><span class="text">OUT</span></div> -->
      </div>
      <div id="menus">
        <div class="tab-menu" (click)="changeTabMenu($event)" *ngIf="selectedMenu.substring(0,4) === 'main'">
          <button class="tablink" [ngClass]="{'active': selectedMenu === Const.MAIN_MENU_PITCH}" id="tab-main-pitch">Pitch</button>
          <button class="tablink" [ngClass]="{'active': selectedMenu === Const.MAIN_MENU_RUNNER}" id="tab-main-runner" *ngIf="hasRunnerOnBase()">Runner</button>
          <button class="tablink" [ngClass]="{'active': selectedMenu === Const.MAIN_MENU_CHANGE}" id="tab-main-change">Change Players</button>
        </div> <!-- .tab-menu -->
        <div class="tab-menu" (click)="changeTabMenu($event)" *ngIf="selectedMenu.substring(0,3)==='hit'">
          <button class="tablink" [ngClass]="{'active': selectedMenu === Const.HIT_MENU_RESULT}" id="tab-hit-result">Result</button>
          <button class="tablink" [ngClass]="{'active': selectedMenu === Const.HIT_MENU_KIND}" id="tab-hit-kind">Kind</button>
          <button class="tablink" [ngClass]="{'active': selectedMenu === Const.HIT_MENU_FIELDERS}" id="tab-hit-fielders">Fielders</button>
          <button class="tablink" (click)="nextBatter()" *ngIf="hitResultSelected()">Next »</button>
        </div> <!-- .tab-menu -->
        <div class="tab-content">
          <div id="main-pitch" class="btn-group" (click)="pitchTrigger($event)" [@animationTabMenu]="selectedMenu === Const.MAIN_MENU_PITCH">
            <button class="btn btn-blue" data-pitch='Ball'><span [innerHtml]="getPitchIconHtml('Ball')"></span> Ball</button>
            <button class="btn btn-blue" data-pitch='HitByPitch'><span [innerHtml]="getPitchIconHtml('HitByPitch')"></span> Hit by pitch</button>
            <button class="btn btn-red" data-pitch='Strike'><span [innerHtml]="getPitchIconHtml('Strike')"></span> Strike</button>
            <button class="btn btn-red" data-pitch='SwingMiss'><span [innerHtml]="getPitchIconHtml('SwingMiss')"></span> Swing & Miss</button>
            <button class="btn btn-red" data-pitch='Foul'><span [innerHtml]="getPitchIconHtml('Foul')"></span> Foul</button>
            <button class="btn btn-black" data-pitch='InPlay'><span [innerHtml]="getPitchIconHtml('InPlay')"></span> in play</button>
          </div> 
          <div id="main-runner" [@animationTabMenu]="selectedMenu === Const.MAIN_MENU_RUNNER">
            Drag the moving runners:
          </div>
          <div id="main-change" [@animationTabMenu]="selectedMenu === Const.MAIN_MENU_CHANGE">
            Please click on players to change:
          </div>
          <span *ngIf="selectedMenu.substring(0,3) === 'hit'">
          <div id="hit-fielders" [@animationTabMenu]="selectedMenu === Const.HIT_MENU_FIELDERS">
            <div class="reset-btn" *ngIf="this.fielders.position.length" (click)="resetFielders()">⟳</div>
            <div>Please drag fielders to catch ball:</div>
            <div>{{ this.fielders.position.join(' - ') }}</div>
          </div>
  	  	  <div id="hit-kind" class="btn-group" role="group" (click)="hitTrigger($event)" 
               [@animationTabMenu]="selectedMenu === Const.HIT_MENU_KIND">
  	  	    <label class="btn btn-blue" [ngClass]="{'active': this.batter.kind === HitKind.Ground}" data-hit-kind="Ground"> 
  	  	  	<svg class="symb" height="12" width="12"><path d="M 0 8 A 10 10 0 0 0 12 8" stroke-width="1" fill="none" /></svg>
  	  	  	Grounders</label>
  	  	    <label class="btn btn-blue" [ngClass]="{'active': this.batter.kind === HitKind.LineDrive}" data-hit-kind="LineDrive">
  	  	  	<svg class="symb" height="12" width="12"><path d="M 0 10 L 12 10" stroke-width="1" fill="none" /></svg>
  	  	  	Line Drive</label>
  	  	    <label class="btn btn-blue" [ngClass]="{'active': this.batter.kind === HitKind.Fly}" data-hit-kind="Fly">
  	  	  	<svg class="symb" height="12" width="12"><path d="M 12 4 A 10 10 0 0 0 0 4" stroke-width="1" fill="none" /></svg>
  	  	    Fly Ball</label>
  	  	  </div>
  	  	  <div class="btn-group" role="group" id="hit-result" (click)="hitTrigger($event)" [@animationTabMenu]="selectedMenu === Const.HIT_MENU_RESULT">
  	  	    <label class="btn btn-gray" [ngClass]="{'active': this.batter.result === HitResult.E}" data-hit-res="E"><span class="symb">E</span> Error</label>
  	  	    <label class="btn btn-red" [ngClass]="{'active': this.batter.result === HitResult.FC}" data-hit-res="FC"><span class="symb">FC</span> Fielder Choice</label>
  	  	    <label class="btn btn-red" [ngClass]="{'active': this.batter.result === HitResult.DP}" data-hit-res="DP"><span class="symb">DP</span> Double Play</label>
  	  	    <label class="btn btn-red" [ngClass]="{'active': this.batter.result === HitResult.T}" data-hit-res="T"> <span class="symb">T</span> Tag Out</label>
  	  	    <label class="btn btn-blue" [ngClass]="{'active': this.batter.result === HitResult.B1}" data-hit-res="B1">
  	  	  	  <svg class="symb" height="12" width="12"><path d="M 6 12 L 12 6" stroke-width="1" fill="none" /></svg>
  	  	  	  Single</label>
  	  	    <label class="btn btn-blue" [ngClass]="{'active': this.batter.result === HitResult.B2}" data-hit-res="B2">
  	  	  	  <svg class="symb" height="12" width="12"><path d="M 6 12 L 12 6 L 6 0" stroke-width="1" fill="none" /></svg>
  	  	  	  Double</label>
  	  	    <label class="btn btn-blue" [ngClass]="{'active': this.batter.result === HitResult.B3}" data-hit-res="B3">
  	  	  	  <svg class="symb" height="12" width="12"><path d="M 6 12 L 12 6 L 6 0 L 0 6" stroke-width="1" fill="none" /></svg>
  	  	  	  Triple</label>
  	  	    <label class="btn btn-blue" [ngClass]="{'active': this.batter.result === HitResult.HR}" data-hit-res="HR">
  	  	  	  <svg class="symb" height="12" width="12"><circle r="1" cx="6" cy="6" stroke-width="1" fill="red"></circle><path d="M 6 12 L 12 6 L 6 0 L 0 6 Z" stroke-width="1" fill="none" /></svg>
  	  	  	  Home Run</label>
  	      </div>
          </span>
        </div> <!--/.tab-content-->
      </div>
    </div>
  </div>
</div>
<div class="bottom-navbar tab-menu">
  <button class="tablink btn" (click)="toggleHistory()" id="history-btn">History</button>
  <button class="tablink btn" disabled>Undo</button>
  <button class="tablink btn" disabled>Redo</button>
</div>
