.container {
  display: flex;
  height: 100%;
}

.even-part {
  flex: 1 100%;
  position: relative;
  height: 100%;
  overflow: auto;
  &.history-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .sm-title {
      margin: 5px;
      text-align: center;
    }
  
    .history {
      border-radius: 10px;
      border: 1px solid black;
      padding: 5px;
      margin: 2px;
    }
  }
  
  &.field-container {
    overflow: hidden;
  }

  &.button-container {
    #hit { 
      text-align: center; 
      & > div:enter {
        transition: .4s;
      }
    }
  }

  // tablet
  @media (max-width: 767px) {
  }

  // mobile
  @media (max-width: 575px) {
    position: absolute;
    width: 100%;

    &.history-container {
      z-index: 100;
      background: rgba(255,255,255,.85);
      width: 0;
      transition: 0.5s;
      &.open { width: 100%; }
    }
    &.button-container {
      margin-top: 30px;
    }
  }
}

.scoreboard {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  background: rgba(255,255,255,.2);
  height: 30px;
  & > div {
    line-height: 2em;
    & > span {
      margin: 0 5px;
      &.text {
        vertical-align: sub;
      }
      &.circle{
        vertical-align: middle;
        font-size: 3em;
        color: red;
        margin: 0;
      }
      &.fill::before { content: '●'; }
      &.outline::before { content: '◌'; font-size: .9em; }
    }
  }
}

.btn-group {
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;

  .btn {
    margin: 0;
    overflow: hidden;
    position: relative;
    border-width: 2px 2px 0;
    &:last-of-type { border-bottom-width: 2px; }

    &::after {
      content: '';
      background: black;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-top: -200%;
      margin-left: -20px!important;
      opacity: 0;
      transition: all .3s;
    }
    &:active::after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s;
    }
  }

  input[type="radio"] {
    visibility: hidden;
  }
}
