.btn-group {
  margin: 5px auto;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;

  .btn {
    margin: auto 1px; 
  }

  input[type="radio"] {
    visibility: hidden;
  }
}

.container {
  display: flex;

  .half-part {
    flex: 1 100;
  }
}

.scoreboard {
  width: 100%;
  display: flex;
  justify-content: space-around;
  & > div {
    line-height: 2em;
    & > span {
      margin: 0 5px;
      &.text {
        vertical-align: sub;
      }
      &.circle{
        vertical-align: middle;
        font-size: 3em;
        color: red;
        margin: 0;
      }
      &.fill::before { content: '●'; }
      &.outline::before { content: '◌'; font-size: .9em; }
    }
  }
}

.history-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .history {
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    margin: 2px;
  }
}
