/* You can add global styles to this file, and also import other style files */
$font-default: normal 14px/1.5em 'Microsoft JhengHei',arial,sans-serif;
$font-small: normal 12px/1.3em 'Microsoft JhengHei',arial,sans-serif;
$green: #28a745;
$green-dark: #218838;
$red: #dc3545;
$red-dark: #bd2130;
$blue: #007bff;
$blue-dark: #0069d9;
$black: #343a40;
$gray: #6c757d;
$gray-light: #b5babe;
$gray-light-opacity: rgba(181,186,190,.5); 
$tab-border: 2px solid $gray-light;

body, html {
  font: $font-default;
  margin: 0;
  height: 100%;
}

button {
  font: $font-small;
}

.btn {
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  border-style: solid;
  display: inline-block;
  padding: .375rem .75rem;
  background: $gray;
  border-color: $gray;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:disabled, &.disabled {
    opacity: .4;
  }
}

.close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: large;
  cursor: pointer;
  background: transparent;
  border: none;
  &::before {
    content: 'x';
  }
}

@mixin btn-color($name, $color, $darker: false) {
  @if $darker { $name: 'fill-'+$name; }
  .btn-#{$name} {
    @if $darker { 
      color: #fff; 
      background-color: $color;
      svg * { stroke: #fff; }
    }
    @else { 
      color: $color; 
      background-color: transparent;
      svg * { stroke: $color; }
    }
    border-color: $color;
    
    &.active, &:active, &:focus {
      color: #fff;
      outline: none;
      @if $darker { 
        background-color: $darker; 
        border-color: $darker;
      }
      @else { 
        background-color: $color; 
        border-color: $color;
      }
      svg * { stroke: #fff; }
    }

    @media (min-width: 575px) { // not mobile
      &:hover:not(:active):not(:disabled):not(.disabled):not(.active),
      &.active, &:active, &:focus {
        color: #fff;
        outline: none;
        @if $darker { 
          background-color: $darker; 
          border-color: $darker;
        }
        @else { 
          background-color: $color; 
          border-color: $color;
        }
        svg * { stroke: #fff; }
      }
    }
  }
}

svg * { stroke: $black; }

.tab-menu {
  display: flex;
  .tablink {
    border-radius: 5px 5px 0 0;
    background: transparent;
    flex: 1 100%;
    cursor: pointer;
    border: none;
    padding: 14px 16px;
    border-bottom: $tab-border;
    color: $gray-light;

    &:active, &.active, &:focus {
      border: $tab-border;
      border-bottom: none;
      color: $black;

      // mobile
      @media (max-width: 575px) {
        background: $gray-light-opacity;
      }
    }

    &:not(.active):not(:active):not(:disabled):not(.disabled):hover {
      background: $gray-light;
      color: #fff;
    }
    &.disabled, &:disabled {
      cursor: not-allowed;
    }
  }
}
.tab-content {
  border: $tab-border;
  border-top: none;
  border-radius: 0 5px 0 5px;
  padding: 5px;

  // mobile
  @media (max-width: 575px) {
    background: $gray-light-opacity;
  }
}

.bottom-navbar.tab-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  .tablink {
    border-radius: 0;
    border: 2px solid $blue-dark;
    background: $blue;
    color: #fff;
    &:not(.active):not(:active):not(:disabled):not(.disabled):hover {
      background: $blue-dark;
      color: #fff;
    }
  }
}

.sm-only {
  // mobile
  @media (min-width: 576px) {
    display: none !important;
  }
}

@include btn-color('green', $green)
@include btn-color('red', $red)
@include btn-color('blue', $blue)
@include btn-color('black', $black)
@include btn-color('blue', $blue, $blue-dark)
@include btn-color('green', $green, $green-dark)
@include btn-color('red', $red, $red-dark)
@include btn-color('gray', $gray)
