<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {{> head}}
    <link rel="stylesheet" href="{{baseUrl}}css/home.css" />
  </head>
	<body>
    <div class="container-fluid">
		<svg id="field"></svg>
    </div> <!-- /.container-fluid -->
    <script src="{{baseUrl}}js/home.js"></script>
  </body>
</html>
