<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {{> head}}
    <link rel="stylesheet" href="{{baseUrl}}css/home.css" />
	</head>
	<body>
    <div class="container-fluid">
		<svg id="field">
			<rect id="square" />
			<path id="left-line" />
			<path id="right-line" />
			
		</svg>
		<div id="arc"></div>
		<div id="pitcher"></div>
    </div> <!-- /.container-fluid -->
    <script src="{{baseUrl}}js/home.js"></script>
  </body>
</html>
