<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {{> head}}
    <link rel="stylesheet" href="{{baseUrl}}css/home.css" />
	<style>
	  #square { fill: transparent; stroke: black; stroke-width: 2px; transform: rotate(45deg); transform-origin: 100% 100%; }
	  #left-line, #right-line, #pitcher, #arc { stroke: black; stroke-width: 2px; fill: transparent; }
	</style>
  </head>
	<body>
    <div class="container-fluid">
		<svg id="field" width="1500" height="800" ></svg>
    </div> <!-- /.container-fluid -->
    <script src="{{baseUrl}}js/home.js"></script>
  </body>
</html>
